@font-face {
  font-family: "Walbaum-Regular";
  src: url("assets/fonts/Walbaum96ptRegular_normal_normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaLTPro-Book";
  src: url("assets/fonts/400195baf91730bd1e13a9719b003dea.woff2") format("woff2"),
    url("assets/fonts/400195baf91730bd1e13a9719b003dea.woff") format("woff"),
    url("assets/fonts/400195baf91730bd1e13a9719b003dea.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura LT Medium";
  src: url("assets/fonts/12fd3b0603f2ab22d6bf2bed80521841.woff2") format("woff2"),
    url("assets/fonts/12fd3b0603f2ab22d6bf2bed80521841.woff") format("woff"),
    url("assets/fonts/12fd3b0603f2ab22d6bf2bed80521841.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
